---
layout: page
---

<div class="post">
  <article>
    {% assign members = site.members %} <!-- Use the members collection -->

    <p>Members count: {{ members.size }}</p> <!-- Debugging line -->

    {% if members.size > 0 %}
      {% for profile in members %}
        <hr>
        <div class="profile float-right">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/members/' %}
            <img src="{{ profile_image_path }}" class="img-fluid z-depth-1 rounded-circle" alt="{{ profile.name }}">
          {% endif %}
          
          <div class="clearfix">
            <h2>{{ profile.name }}</h2>
            <p>Tags: {{ profile.tags | join: ', ' }}</p>
            {{ profile.content | markdownify }}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No profiles found.</p> <!-- Debugging line -->
    {% endif %}
  </article>
</div>
