---
layout: page
---

<div class="post">
  <article>
    <div class="container">
      <p>Members count: {{ members.size }}</p> <!-- Debugging line to check member count -->

      <div class="row">
        {% for profile in members %}
          <div class="col-12 mb-4">
            <hr>
            <div class="profile d-flex align-items-start">
              {% if profile.image %}
                {% assign profile_image_path = 'assets/img/' | append: profile.image %}
                <div class="profile-img">
                  <img src="{{ profile_image_path }}" class="img-fluid rounded-circle" alt="{{ profile.name }}">
                </div>
              {% endif %}
              <div class="profile-content ml-3">
                <h2>{{ profile.name }}</h2>
                <p>Tags: {{ profile.tags | join: ', ' }}</p>
                {{ profile.content | markdownify }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>
</div>
