---
layout: page
---

<div class="container mt-5">

  <!-- Debugging Information (Optional) -->
  <p>Debugging Info</p>
  <p>Collection Size: {{ site.members.size }}</p>

  <!-- Tag Filter Section -->
  {% assign all_tags = site.members | map: 'tags' | join: ',' | split: ',' | uniq %}
  <div class="tag-category-list">
       <ul class="p-0 m-0">
      <li><a href="{{ page.url }}">All</a></li> <!-- Link to display all profiles -->
      {% for tag in all_tags %}
        {% if tag != "" %}
          <li>
            <i class="fa-solid fa-hashtag fa-sm"></i>
            <a href="?tag={{ tag | slugify }}">{{ tag }}</a>
          </li>
          {% unless forloop.last %}
            <p>&bull;</p>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- Extract the Selected Tag from the URL -->
  {% assign selected_tag = page.url | split: '?' | last | split: 'tag=' | last | split: '&' | first %}

  <!-- Profiles Display Section -->
  <div class="row justify-content-center">
    {% if site.members.size > 0 %}
      {% assign filtered_members = site.members %}
      
      <!-- Apply Tag Filtering if a Tag Is Selected -->
      {% if selected_tag != page.url and selected_tag != "" %}
        {% assign filtered_members = site.members | where_exp: "member", "member.tags contains selected_tag" %}
      {% endif %}
      
      <!-- Loop Through the Filtered Profiles -->
      {% for profile in filtered_members %}
        <div class="col-12 col-md-8 mb-4">
          <hr>
          <div class="profile d-flex align-items-start">
            <!-- Profile Image Section -->
            {% if profile.image %}
              {% assign profile_image_path = '/assets/img/members/' | append: profile.image %}
              <div class="profile-img">
                <img src="{{ profile_image_path }}" class="profile-img-fixed img-fluid z-depth-1 rounded-circle" alt="{{ profile.name }}">
              </div>
            {% endif %}

            <!-- Profile Content Section -->
            <div class="profile-content ml-3">
              <h2>{{ profile.name }}</h2>
              <p>Tags: {{ profile.tags | join: ', ' }}</p>
              {{ profile.content | markdownify }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No profiles found.</p> <!-- Display message if no profiles are found -->
    {% endif %}
  </div>
</div>
